body {
    background: #F7F9FC;
    color: #575F7D;
    font-family: 'Lora', serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

img {
    width: 320px;
}


/********************* TEXT *********************/

h1 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}


.dropdown-labels {
    margin-left: 20px;
    font-weight: bold;
}


/********************* SECTIONS *********************/

#container {
    width: 95%; 
    margin:  auto;
}

#header-container {
    padding: 30px;                             /* Internal space */
    border-radius: 4px;                        /* Small radius */
    box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
    text-align: center;
}

#interactive-container {
    padding: 30px;                             /* Internal space */
    border-radius: 4px;                        /* Small radius */
    box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
}

#data-container {
    padding: 30px;                             /* Internal space */
    border-radius: 4px;                        /* Small radius */
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 15px;
}

#drop-down-year {
    width: 400px;
}

#drop-down-stage{
    width: 400px;
}


/********************* BUTTONS *********************/

#update-button {
    width: 240px;
    height: 40px;
    border-radius: 5px;
    margin-left: 38px;
    margin-top: 30px;
    border: 0px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 15px;
}

#update-button:hover {
    background-color: #FFBD59;
    color: white;
}


/********************* DROPDOWNS *********************/

#dropdown-fields {
    width: 100px;
}

.dropdown {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.dropdown .Select-control{
    background-color: white;
}

.dropdown .Select-menu-outer{
    background-color: white;
}

.dropdown .Select-value{
    background-color: #3BA27A;
    color: white;
    font-size: 14px;  
}

.dropdown .VirtualizedSelectFocusedOption {
    background-color: #a5ecd1;
    color: black;
}

.dropdown .VirtualizedSelectOption  {
    font-size: 14px;
}